@import "utilities";

@media only screen and (max-width: 800px) {
  .showcase {
    height: 50vh;

    &-content h1 {
      font-size: 250%;
      margin-top: 10%;
    }
  }

  .menu li {
    margin: 0 0 0 2rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .showcase {
    height: auto;

    &-content {
      display: none !important;
    }

    .menu {
      border-bottom: $default-border;
    }
  }

  .header div {
    padding: 0.5rem;
  }

  .menu {
    align-items: center;
    flex-direction: column;

    li {
      margin: 1rem !important;
    }
  }

  .tile-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .checkered-grid {
    grid-template-columns: 1fr;
  }

  footer div {
    h3 {
      margin-top: 1rem;
    }

    flex-direction: column;
  }

  .company-logos {
    display: none;
  }

  #contact-form {
    grid-template-columns: 1fr;

    textarea {
      grid-column: 1 / span 1;
    }
  }

  #contact-methods div {
    margin: 2rem;
  }

  #start-project {
    font-size: 1.5rem;
  }

  .about-me {
    grid-template-columns: 1fr;
  }

  #work-tiles {
    grid-template-columns: 1fr;
  }
}
