@import 'utilities';

@media only screen and (max-width: 800px) {
  .showcase {
    height: 50vh;

    div {
      flex-direction: column;
      text-align: center;
    }

    .menu ul li {
      margin: 1rem;
    }

    div:last-child h1 {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 500px) {

  .showcase {
    height: auto;

    div:last-child {
      display: none;
    }

    border-bottom: .2rem solid $main-color;
  }

  .titled-tiles .tile-wrapper {
    flex-direction: column;
  }

  .checkered-grid {
    grid-template-columns: 1fr;
  }

  footer div {

    h3 {
      margin-top: 1rem;
    }

    flex-direction: column;
  }
}